@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<br />

@*<h3>@ViewBag.Message</h3>*@

<p>
    SavingLives is a web application organized by Mother Theresa Chartiable Trust foundation which helps in finding blood and saving many lives.</p>
<div>
    <img src="~/Images/blood_donation4.jpg" height="400", width="1150"/>
</div>