@{
    ViewBag.Title = "Contact";
}
<br />
<br />
<br />
<br />
<br />
<br />


@*<h2>@ViewBag.Title.</h2>*@
<br />
<br />
<br />
<h2 style="color: antiquewhite">@ViewBag.Message</h2>

<body style="background-image: url(../Images/blood_donation3.jpg)">
    <br />
    <br />
    <address style="color: antiquewhite">
        <b>
            Mother Theresa Charitable Trust<br />
            Besant Road, Vijayawada 520011<br />
            <abbr title="Phone">P:</abbr>
            0866-277288
        </b>
    </address>

    <address style="color: antiquewhite">
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@mtctrust.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@mtctrust.com</a>
    </address>
</body>